
.header {
	color: red; 
	text-align: center;
	font-family: Arial, sans-serif;
	margin: 30px solid black;
	padding: 20px;
}

.head {
	background-color: green;
	height: 700px;
	width: 700px;
}


.container {
	flex-direction: row;
	width: 123px;
}